body {
  background-color: aliceblue;
}
main {
  font-size: 70px;
  text-align: center;
  font-family: "Fredoka One", cursive;
}
ul {
  padding-top: 200px;
}
li {
  list-style: none;
  margin-bottom: 200px;
}
a {
  text-decoration: none;
  color: aquamarine;
  background-color: rgb(41, 94, 94);
  padding: 10px;
  border-radius: 18px;
  transition: all 0.3s;
}
a:hover {
  cursor: pointer;
  color: whitesmoke;
  background-color: rgb(42, 112, 112);
  padding: 30px;
}
