body {
  background-color: aliceblue;
  background-image: url("/asstes/images/IMG_20190605_213159.jpg");
  background-repeat: no-repeat;
  /* object-fit: cover; */
  background-size: cover;
}
main {
  font-size: 4rem;
  text-align: center;
  font-family: "Fredoka One", cursive;
}
ul {
  padding-top: 200px;
}
li {
  list-style: none;
  margin-bottom: 200px;
}
a {
  text-decoration: none;
  color: aquamarine;
  background-color: rgb(41, 94, 94);
  padding: 0.5rem;
  border-radius: 1.2rem;
  transition: all 0.3s;
}
a:hover {
  cursor: pointer;
  color: whitesmoke;
  background-color: rgb(42, 112, 112);
  padding: 2rem;
}
